<div id="<%= dom_id booking %>">
  <p>
    <strong>Availability:</strong>
    <%= booking.availability_id %>
  </p>

  <p>
    <strong>Client email:</strong>
    <%= booking.client_email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

</div>
