<p style="color: green"><%= notice %></p>

<% content_for :title, "Availabilities" %>

<h1>Availabilities</h1>

<div data-controller="calendar">
  <% @availabilities.each do |slot| %>
    <div data-calendar-target="slot" data-action="click->calendar#select">
      <% slot.start_time %> - <% slot.end_time %>
    </div>
  <% end %>
</div>

<div id="availabilities">
  <% @availabilities.each do |availability| %>
    <%= render availability %>
    <p>
      <%= link_to "Show this availability", availability %>
    </p>
  <% end %>
</div>

<%= link_to "New availability", new_availability_path %>
